@use 'variables';

:root.dark {
  --colors-text-01: var(--color-neutral-50);
  --colors-text-02: var(--color-neutral-400);
  --colors-text-action: var(--color-primary-200);
  --colors-text-action-hover: var(--color-primary-100);
  --colors-text-action-pressed: var(--color-primary-50);
  --colors-text-disabled: var(--color-neutral-600);
  --colors-text-info: var(--color-accent-400);
  --colors-text-success: var(--color-success-400);
  --colors-text-warning: var(--color-warning-400);
  --colors-text-error: var(--color-error-400);
  --colors-text-on-action: var(--color-neutral-1000);
  --colors-text-on-disabled: var(--color-neutral-500);
  --colors-surface-01: var(--color-neutral-1000);
  --colors-surface-02: var(--color-neutral-950);
  --colors-surface-03: var(--color-neutral-900);
  --colors-surface-04: var(--color-neutral-800);
  --colors-surface-action: var(--color-primary-200);
  --colors-surface-action-hover: var(--color-primary-300);
  --colors-surface-action-pressed: var(--color-primary-400);
  --colors-surface-disabled: var(--color-neutral-800);
  --colors-surface-info: var(--color-accent-800);
  --colors-surface-success: var(--color-success-900);
  --colors-surface-warning: var(--color-warning-900);
  --colors-surface-error: var(--color-error-800);
  --colors-surface-brand-primary: var(--color-primary-100);
  --colors-surface-brand-secondary: var(--color-secondary-900);
  --colors-icon-01: var(--color-neutral-400);
  --colors-icon-action: var(--color-primary-200);
  --colors-icon-info: var(--color-accent-400);
  --colors-icon-disabled: var(--color-neutral-600);
  --colors-icon-success: var(--color-success-400);
  --colors-icon-warning: var(--color-warning-400);
  --colors-icon-error: var(--color-error-400);
  --colors-outline-01: var(--color-neutral-900);
  --colors-outline-02: var(--color-neutral-800);
  --colors-outline-03: var(--color-neutral-700);
  --colors-outline-action: var(--color-primary-200);
  --colors-outline-disabled: var(--color-neutral-600);
  --colors-outline-success: var(--color-success-400);
  --colors-outline-warning: var(--color-warning-400);
  --colors-outline-error: var(--color-error-400);
  --colors-surface-inverse: var(--color-neutral-950);
  --colors-surface-info-inverse: var(--color-accent-400);
  --colors-surface-success-inverse: var(--color-success-500);
  --colors-surface-warning-inverse: var(--color-warning-600);
  --colors-surface-error-inverse: var(--color-error-500);
  --colors-icon-inverse: var(--color-neutral-100);
  --colors-icon-action-hover: var(--color-primary-100);
  --colors-icon-action-pressed: var(--color-primary-50);
  --colors-icon-on-action: var(--color-neutral-1000);
  --colors-icon-on-disabled: var(--color-neutral-500);
  --colors-text-inverse: var(--color-neutral-100);
  --colors-outline-inverse: var(--color-neutral-800);
  --colors-outline-action-hover: var(--color-primary-100);
  --colors-outline-action-pressed: var(--color-primary-50);
  --colors-surface-inverse-2: var(--color-neutral-300);
  --colors-text-inverse-2: var(--color-neutral-300);
  --colors-icon-inverse-2: var(--color-neutral-800);
  --colors-outline-inverse-2: var(--color-neutral-300);
  --colors-icon-02: var(--color-neutral-400);
  --colors-text-brand-primary: var(--color-primary-100);
  --colors-icon-brand-primary: var(--color-primary-100);
  --colors-outline-brand-primary: var(--color-primary-100);
  --colors-text-brand-secondary: var(--color-secondary-900);
  --colors-icon-brand-secondary: var(--color-secondary-900);
  --colors-outline-brand-secondary: var(--color-secondary-900);
}

:root,
:root.light {
  --colors-text-01: var(--color-neutral-1000);
  --colors-text-02: var(--color-neutral-700);
  --colors-text-action: var(--color-primary-600);
  --colors-text-action-hover: var(--color-primary-700);
  --colors-text-action-pressed: var(--color-primary-800);
  --colors-text-disabled: var(--color-neutral-400);
  --colors-text-info: var(--color-accent-600);
  --colors-text-success: var(--color-success-600);
  --colors-text-warning: var(--color-warning-600);
  --colors-text-error: var(--color-error-600);
  --colors-text-on-action: var(--color-neutral-50);
  --colors-text-on-disabled: var(--color-neutral-700);
  --colors-surface-01: var(--color-neutral-50);
  --colors-surface-02: var(--color-neutral-100);
  --colors-surface-03: var(--color-neutral-200);
  --colors-surface-04: var(--color-neutral-300);
  --colors-surface-action: var(--color-primary-500);
  --colors-surface-action-hover: var(--color-primary-600);
  --colors-surface-action-pressed: var(--color-primary-700);
  --colors-surface-disabled: var(--color-neutral-400);
  --colors-surface-info: var(--color-accent-300);
  --colors-surface-success: var(--color-success-100);
  --colors-surface-warning: var(--color-warning-100);
  --colors-surface-error: var(--color-error-100);
  --colors-surface-brand-primary: var(--color-primary-100);
  --colors-surface-brand-secondary: var(--color-secondary-300);
  --colors-icon-01: var(--color-neutral-900);
  --colors-icon-action: var(--color-primary-600);
  --colors-icon-info: var(--color-accent-600);
  --colors-icon-disabled: var(--color-neutral-400);
  --colors-icon-success: var(--color-success-600);
  --colors-icon-warning: var(--color-warning-600);
  --colors-icon-error: var(--color-error-600);
  --colors-outline-01: var(--color-neutral-300);
  --colors-outline-02: var(--color-neutral-400);
  --colors-outline-03: var(--color-neutral-500);
  --colors-outline-action: var(--color-primary-600);
  --colors-outline-disabled: var(--color-neutral-400);
  --colors-outline-success: var(--color-success-600);
  --colors-outline-warning: var(--color-warning-600);
  --colors-outline-error: var(--color-error-600);
  --colors-surface-inverse: var(--color-neutral-950);
  --colors-surface-info-inverse: var(--color-accent-700);
  --colors-surface-success-inverse: var(--color-success-700);
  --colors-surface-warning-inverse: var(--color-warning-700);
  --colors-surface-error-inverse: var(--color-error-700);
  --colors-icon-inverse: var(--color-neutral-100);
  --colors-icon-action-hover: var(--color-primary-700);
  --colors-icon-action-pressed: var(--color-primary-800);
  --colors-icon-on-action: var(--color-neutral-50);
  --colors-icon-on-disabled: var(--color-neutral-700);
  --colors-text-inverse: var(--color-neutral-100);
  --colors-outline-inverse: var(--color-neutral-800);
  --colors-outline-action-hover: var(--color-primary-700);
  --colors-outline-action-pressed: var(--color-primary-800);
  --colors-surface-inverse-2: var(--color-neutral-900);
  --colors-text-inverse-2: var(--color-neutral-300);
  --colors-icon-inverse-2: var(--color-neutral-300);
  --colors-outline-inverse-2: var(--color-neutral-700);
  --colors-icon-02: var(--color-neutral-600);
  --colors-text-brand-primary: var(--color-primary-100);
  --colors-icon-brand-primary: var(--color-primary-100);
  --colors-outline-brand-primary: var(--color-primary-100);
  --colors-text-brand-secondary: var(--color-secondary-300);
  --colors-icon-brand-secondary: var(--color-secondary-300);
  --colors-outline-brand-secondary: var(--color-secondary-300);
}
