:root {
  --font-size-display-display-lg: 5rem;
  --font-size-display-display-md: 4rem;
  --font-size-global-label-lg: 1.125rem;
  --font-size-global-label-md: 1rem;
  --font-size-global-label-sm: 0.875rem;
  --font-size-global-label-xs: 0.75rem;
  --font-size-global-body-lg: 1.125rem;
  --font-size-global-body-md: 1rem;
  --font-size-global-body-sm: 0.875rem;
  --line-height-display-display-lg: 5.75rem;
  --line-height-display-display-md: 4.5rem;
  --spacing-none: var(--scale-0);
  --spacing-3xs: var(--scale-50);
  --spacing-xxs: var(--scale-100);
  --spacing-xs: var(--scale-200);
  --spacing-sm: var(--scale-300);
  --spacing-md: var(--scale-400);
  --spacing-lg: var(--scale-500);
  --spacing-xl: var(--scale-600);
  --spacing-xxl: var(--scale-800);
  --spacing-3xl: var(--scale-1000);
  --spacing-super: var(--scale-1600);
  --spacing-super-lg: var(--scale-2000);
  --font-size-global-body-xs: 0.75rem;
  --line-height-global-label-lg: 1.5rem;
  --line-height-global-label-md: 1.25rem;
  --line-height-global-label-sm: 1rem;
  --line-height-global-label-xs: 1rem;
  --line-height-global-body-lg: 1.75rem;
  --line-height-global-body-md: 1.5rem;
  --line-height-global-body-sm: 1.25rem;
  --line-height-global-body-xs: 1rem;
  --font-size-heading-heading-lg: 3rem;
  --font-size-heading-heading-md: 2.25rem;
  --font-size-heading-heading-sm: 1.75rem;
  --font-size-heading-heading-xs: 1.25rem;
  --line-height-heading-heading-lg: 3.25rem;
  --line-height-heading-heading-md: 2.5rem;
  --line-height-heading-heading-sm: 2rem;
  --line-height-heading-heading-xs: 1.75rem;
  --tracking-display-display-lg: -0.125rem;
  --tracking-display-display-md: -0.125rem;
  --tracking-heading-heading-lg: -0.125rem;
  --tracking-heading-heading-md: -0.0625rem;
  --tracking-heading-heading-sm: 0rem;
  --tracking-heading-heading-xs: 0rem;
  --tracking-global-label-lg: 0rem;
  --tracking-global-label-md: 0rem;
  --tracking-global-label-sm: 0rem;
  --tracking-global-label-xs: 0rem;
  --tracking-global-body-lg: -0.016rem;
  --tracking-global-body-md: 0rem;
  --tracking-global-body-sm: 0rem;
  --tracking-global-body-xs: 0rem;
  --spacing-super-xl: var(--scale-2500);
  --spacing-super-xxl: var(--scale-3000);

  @media (max-width: 640px) {
    --font-size-display-display-lg: 4.5rem;
    --font-size-display-display-md: 3rem;
    --font-size-global-label-lg: 1.125rem;
    --font-size-global-label-md: 1rem;
    --font-size-global-label-sm: 0.875rem;
    --font-size-global-label-xs: 0.75rem;
    --font-size-global-body-lg: 1.125rem;
    --font-size-global-body-md: 1rem;
    --font-size-global-body-sm: 0.875rem;
    --line-height-display-display-lg: 5rem;
    --line-height-display-display-md: 3.5rem;
    --spacing-none: var(--scale-0);
    --spacing-3xs: var(--scale-50);
    --spacing-xxs: var(--scale-100);
    --spacing-xs: var(--scale-200);
    --spacing-sm: var(--scale-300);
    --spacing-md: var(--scale-400);
    --spacing-lg: var(--scale-500);
    --spacing-xl: var(--scale-600);
    --spacing-xxl: var(--scale-800);
    --spacing-3xl: var(--scale-1000);
    --spacing-super: var(--scale-1600);
    --spacing-super-lg: var(--scale-2000);
    --font-size-global-body-xs: 0.75rem;
    --line-height-global-label-lg: 1.5rem;
    --line-height-global-label-md: 1.25rem;
    --line-height-global-label-sm: 1rem;
    --line-height-global-label-xs: 1rem;
    --line-height-global-body-lg: 1.75rem;
    --line-height-global-body-md: 1.5rem;
    --line-height-global-body-sm: 1.25rem;
    --line-height-global-body-xs: 1rem;
    --font-size-heading-heading-lg: 2.5rem;
    --font-size-heading-heading-md: 2rem;
    --font-size-heading-heading-sm: 1.5rem;
    --font-size-heading-heading-xs: 1.25rem;
    --line-height-heading-heading-lg: 2.25rem;
    --line-height-heading-heading-md: 2rem;
    --line-height-heading-heading-sm: 1.75rem;
    --line-height-heading-heading-xs: 1.25rem;
    --tracking-display-display-lg: -0.1875rem;
    --tracking-display-display-md: -0.125rem;
    --tracking-heading-heading-lg: -0.125rem;
    --tracking-heading-heading-md: -0.094rem;
    --tracking-heading-heading-sm: -0.031rem;
    --tracking-heading-heading-xs: -0.031rem;
    --tracking-global-label-lg: -0.016rem;
    --tracking-global-label-md: 0rem;
    --tracking-global-label-sm: 0rem;
    --tracking-global-label-xs: 0rem;
    --tracking-global-body-lg: -0.016rem;
    --tracking-global-body-md: 0rem;
    --tracking-global-body-sm: 0rem;
    --tracking-global-body-xs: 0rem;
    --spacing-super-xl: var(--scale-2500);
    --spacing-super-xxl: var(--scale-3000);
  }
}
